<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Unity.Configuration, Version=5.2.5.0, Culture=neutral, PublicKeyToken=6d32ff45e0ccc69f"/>
  </configSections>
  <unity>
  
    <containers>
      <!--1.用户表-->
      <container name="Usersjiaobaba">
        <register type="IDao.IUsersDao,IDao" mapTo="DAO.UsersDao,DAO" name="Usersbaba"></register>
      </container>
      <container name="Usersjiaomama">
        <register type="IBll.IUsersBll,IBll" mapTo="BLL.UsersBll,BLL" name="Usersmama"></register>
      </container>

      <!--2.一级机构表-->
      <container name="config_file_first_kindjiaobaba">
        <register type="IDao.Iconfig_file_first_kindDao,IDao" mapTo="DAO.config_file_first_kindDao,DAO" name="config_file_first_kindbaba"></register>
      </container>
      <container name="config_file_first_kindjiaomama">
        <register type="IBll.Iconfig_file_first_kindBll,IBll" mapTo="BLL.config_file_first_kindBll,BLL" name="config_file_first_kindmama"></register>
      </container>

      <!--3.二级机构表-->
      <container name="config_file_second_kindjiaobaba">
        <register type="IDao.Iconfig_file_second_kindDao,IDao" mapTo="DAO.config_file_second_kindDao,DAO" name="config_file_second_kindbaba"></register>
      </container>
      <container name="config_file_second_kindjiaomama">
        <register type="IBll.Iconfig_file_second_kindBll,IBll" mapTo="BLL.config_file_second_kindBll,BLL" name="config_file_second_kindmama"></register>
      </container>
      

      <!--4.三级机构表-->
      <container name="config_file_third_kindjiaobaba">
        <register type="IDao.Iconfig_file_third_kindDao,IDao" mapTo="DAO.config_file_third_kindDao,DAO" name="config_file_third_kindbaba"></register>
      </container>
      <container name="config_file_third_kindjiaomama">
        <register type="IBll.Iconfig_file_third_kindBll,IBll" mapTo="BLL.config_file_third_kindBll,BLL" name="config_file_third_kindmama"></register>
      </container>

     
      <!--5.表-->
      <container name="config_question_first_kindjiaobaba">
        <register type="IDao.Iconfig_question_first_kindDao,IDao" mapTo="DAO.config_question_first_kindDao,DAO" name="config_question_first_kindbaba"></register>
      </container>
      <container name="config_question_first_kindjiaomama">
        <register type="IBll.Iconfig_question_first_kindBll,IBll" mapTo="BLL.config_question_first_kindBll,BLL" name="config_question_first_kindmama"></register>
      </container>
      

      <!--6.表-->
      <container name="config_question_second_kindjiaobaba">
        <register type="IDao.Iconfig_question_second_kindDao,IDao" mapTo="DAO.config_question_second_kindDao,DAO" name="config_question_second_kindbaba"></register>
      </container>
      <container name="config_question_second_kindjiaomama">
        <register type="IBll.Iconfig_question_second_kindBll,IBll" mapTo="BLL.config_question_second_kindBll,BLL" name="config_question_second_kindmama"></register>
      </container>
      

      <!--7.表-->
      <container name="config_public_charjiaobaba">
        <register type="IDao.Iconfig_public_charDao,IDao" mapTo="DAO.config_public_charDao,DAO" name="config_public_charbaba"></register>
      </container>
      <container name="config_public_charjiaomama">
        <register type="IBll.Iconfig_public_charBll,IBll" mapTo="BLL.config_public_charBll,BLL" name="config_public_charmama"></register>
      </container>

      
      <!--8.表-->
      <container name="config_primary_keyjiaobaba">
        <register type="IDao.Iconfig_primary_keyDao,IDao" mapTo="DAO.config_primary_keyDao,DAO" name="config_primary_keybaba"></register>
      </container>
      <container name="config_primary_keyjiaomama">
        <register type="IBll.Iconfig_primary_keyBll,IBll" mapTo="BLL.config_primary_keyBll,BLL" name="config_primary_keymama"></register>
      </container>

      
      <!--9.表-->
      <container name="config_major_kindjiaobaba">
        <register type="IDao.Iconfig_major_kindDao,IDao" mapTo="DAO.config_major_kindDao,DAO" name="config_major_kindbaba"></register>
      </container>
      <container name="config_major_kindjiaomama">
        <register type="IBll.Iconfig_major_kindBll,IBll" mapTo="BLL.config_major_kindBll,BLL" name="config_major_kindmama"></register>
      </container>

      
      <!--10.表-->
      <container name="config_majorjiaobaba">
        <register type="IDao.Iconfig_majorDao,IDao" mapTo="DAO.config_majorDao,DAO" name="config_majorbaba"></register>
      </container>
      <container name="config_majorjiaomama">
        <register type="IBll.Iconfig_majorBll,IBll" mapTo="BLL.config_majorBll,BLL" name="config_majormama"></register>
      </container>

      
      <!--11.表-->
      <container name="human_file_digjiaobaba">
        <register type="IDao.Ihuman_file_digDao,IDao" mapTo="DAO.human_file_digDao,DAO" name="human_file_digbaba"></register>
      </container>
      <container name="human_file_digjiaomama">
        <register type="IBll.Ihuman_file_digBll,IBll" mapTo="BLL.human_file_digBll,BLL" name="human_file_digmama"></register>
      </container>

      
      <!--12.表-->
      <container name="human_filejiaobaba">
        <register type="IDao.Ihuman_fileDao,IDao" mapTo="DAO.human_fileDao,DAO" name="human_filebaba"></register>
      </container>
      <container name="human_filejiaomama">
        <register type="IBll.Ihuman_fileBll,IBll" mapTo="BLL.human_fileBll,BLL" name="human_filemama"></register>
      </container>

      
      <!--13.表-->
      <container name="salary_standard_detailsjiaobaba">
        <register type="IDao.Isalary_standard_detailsDao,IDao" mapTo="DAO.salary_standard_detailsDao,DAO" name="salary_standard_detailsbaba"></register>
      </container>
      <container name="salary_standard_detailsjiaomama">
        <register type="IBll.Isalary_standard_detailsBll,IBll" mapTo="BLL.salary_standard_detailsBll,BLL" name="salary_standard_detailsmama"></register>
      </container>

      
      <!--14.表-->
      <container name="salary_standardjiaobaba">
        <register type="IDao.Isalary_standardDao,IDao" mapTo="DAO.salary_standardDao,DAO" name="salary_standardbaba"></register>
      </container>
      <container name="salary_standardjiaomama">
        <register type="IBll.Isalary_standardBll,IBll" mapTo="BLL.salary_standardBll,BLL" name="salary_standardmama"></register>
      </container>

      
      <!--15.表-->
      <container name="bonusjiaobaba">
        <register type="IDao.IbonusDao,IDao" mapTo="DAO.bonusDao,DAO" name="bonusbaba"></register>
      </container>
      <container name="bonusjiaomama">
        <register type="IBll.IbonusBll,IBll" mapTo="BLL.bonusBll,BLL" name="bonusmama"></register>
      </container>

      
      <!--16.表-->
      <container name="trainingjiaobaba">
        <register type="IDao.ItrainingDao,IDao" mapTo="DAO.trainingDao,DAO" name="trainingbaba"></register>
      </container>
      <container name="trainingjiaomama">
        <register type="IBll.ItrainingBll,IBll" mapTo="BLL.trainingBll,BLL" name="trainingmama"></register>
      </container>

      
      <!--17.表-->
      <container name="major_changejiaobaba">
        <register type="IDao.Imajor_changeDao,IDao" mapTo="DAO.major_changeDao,DAO" name="major_changebaba"></register>
      </container>
      <container name="major_changejiaomama">
        <register type="IBll.Imajor_changeBll,IBll" mapTo="BLL.major_changeBll,BLL" name="major_changemama"></register>
      </container>

      
      <!--18.表-->
      <container name="salary_grantjiaobaba">
        <register type="IDao.Isalary_grantDao,IDao" mapTo="DAO.salary_grantDao,DAO" name="salary_grantbaba"></register>
      </container>
      <container name="salary_grantjiaomama">
        <register type="IBll.Isalary_grantBll,IBll" mapTo="BLL.salary_grantBll,BLL" name="salary_grantmama"></register>
      </container>

      
      <!--19.表-->
      <container name="salary_grant_detailsjiaobaba">
        <register type="IDao.Isalary_grant_detailsDao,IDao" mapTo="DAO.salary_grant_detailsDao,DAO" name="salary_grant_detailsbaba"></register>
      </container>
      <container name="salary_grant_detailsjiaomama">
        <register type="IBll.Isalary_grant_detailsBll,IBll" mapTo="BLL.salary_grant_detailsBll,BLL" name="salary_grant_detailsmama"></register>
      </container>

      
      <!--20.表-->
      <container name="engage_major_releasejiaobaba">
        <register type="IDao.Iengage_major_releaseDao,IDao" mapTo="DAO.engage_major_releaseDao,DAO" name="engage_major_releasebaba"></register>
      </container>
      <container name="engage_major_releasejiaomama">
        <register type="IBll.Iengage_major_releaseBll,IBll" mapTo="BLL.engage_major_releaseBll,BLL" name="engage_major_releasemama"></register>
      </container>

      
      <!--21.表-->
      <container name="engage_exam_detailsjiaobaba">
        <register type="IDao.Iengage_exam_detailsDao,IDao" mapTo="DAO.engage_exam_detailsDao,DAO" name="engage_exam_detailsbaba"></register>
      </container>
      <container name="engage_exam_detailsjiaomama">
        <register type="IBll.Ihengage_exam_detailsBll,IBll" mapTo="BLL.engage_exam_detailsBll,BLL" name="engage_exam_detailsmama"></register>
      </container>

      
      <!--22.表-->
      <container name="engage_examjiaobaba">
        <register type="IDao.Iengage_examDao,IDao" mapTo="DAO.engage_examDao,DAO" name="engage_exambaba"></register>
      </container>
      <container name="engage_examjiaomama">
        <register type="IBll.Iengage_examBll,IBll" mapTo="BLL.engage_examBll,BLL" name="engage_exammama"></register>
      </container>

      
      <!--23.表-->
      <container name="engage_answerjiaobaba">
        <register type="IDao.Iengage_answerDao,IDao" mapTo="DAO.engage_answerDao,DAO" name="engage_answerbaba"></register>
      </container>
      <container name="engage_answerjiaomama">
        <register type="IBll.Iengage_answerBll,IBll" mapTo="BLL.engage_answerBll,BLL" name="engage_answermama"></register>
      </container>

      
      <!--24.表-->
      <container name="engage_answer_detailsjiaobaba">
        <register type="IDao.Iengage_answer_detailsDao,IDao" mapTo="DAO.engage_answer_detailsDao,DAO" name="engage_answer_detailsbaba"></register>
      </container>
      <container name="engage_answer_detailsjiaomama">
        <register type="IBll.Iengage_answer_detailsBll,IBll" mapTo="BLL.engage_answer_detailsBll,BLL" name="engage_answer_detailsmama"></register>
      </container>

      
      <!--25.表-->
      <container name="engage_subjectsjiaobaba">
        <register type="IDao.Iengage_subjectsDao,IDao" mapTo="DAO.engage_subjectsDao,DAO" name="engage_subjectsbaba"></register>
      </container>
      <container name="engage_subjectsjiaomama">
        <register type="IBll.Iengage_subjectsBll,IBll" mapTo="BLL.engage_subjectsBll,BLL" name="engage_subjectsmama"></register>
      </container>

      
      <!--26.表-->
      <container name="engage_resumejiaobaba">
        <register type="IDao.Iengage_resumeDao,IDao" mapTo="DAO.engage_resumeDao,DAO" name="engage_resumebaba"></register>
      </container>
      <container name="engage_resumejiaomama">
        <register type="IBll.Iengage_resumeBll,IBll" mapTo="BLL.engage_resumeBll,BLL" name="engage_resumemama"></register>
      </container>

      
      <!--27.表-->
      <container name="engage_interviewjiaobaba">
        <register type="IDao.Iengage_interviewDao,IDao" mapTo="DAO.engage_interviewDao,DAO" name="engage_interviewbaba"></register>
      </container>
      <container name="engage_interviewjiaomama">
        <register type="IBll.Iengage_interviewBll,IBll" mapTo="BLL.engage_interviewBll,BLL" name="engage_interviewmama"></register>
      </container>
      
     













































































    </containers>





  </unity>
</configuration>