
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>人力资源档案登记查询</title>
    <link href="~/Scripts/css/table.css" rel="stylesheet" />
    <link href="~/Scripts/css/cwcalendar.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.7.1.js"></script>
    <script src="~/Scripts/javascript/jquery-1.7.2.js"></script>
    <script src="../../Scripts/vue.js"></script>
    <script src="~/Scripts/javascript/comm/comm.js"></script>
    <script src="~/Scripts/javascript/comm/list.js"></script>
    <script src="~/Scripts/javascript/calendar-ch.js"></script>
    <script src="~/Scripts/javascript/locate.js"></script>
    <script src="~/Scripts/javascript/select.js"></script>
    <script src="~/Scripts/javascript/time.js"></script>
    <script type="text/javascript">
        function up(currPage, row) {
            if (currPage <= 0) {
                document.getElementById("page").value = row;
            } else {
                document.getElementById("page").value = currPage;
            }
            document.fm.submit();
        }
        function down(currPage, row) {
            if (currPage >= row) {
                document.getElementById("page").value = row;
            } else {
                document.getElementById("page").value = currPage;
            }
            document.fm.submit();
        }
        function tj(row) {
            document.getElementById("page").value = document.getElementById("currPage").value;
            if (document.getElementById("currPage").value > row) {
                alert("最大页数为" + row + ",当前为第" + row + "页 ");
                return false;
            }
            document.fm.submit();
        }
		var currentPage = 1;//当前页
		$(function () {

		    haha();
		})
		function haha() {
		    $.ajax({
		        url: "/human_register/Index2",
		        type: "get",
		        data: "&currentPage=" + currentPage,
		        success: function (msg) {
		            var data = eval("(" + msg + ")");
		            var dt = data["list"];
		            $("#table tr:gt(0)").remove();
		            for (var i = 0; i < dt.length; i++) {
		                var $tr = $("<tr></tr>");
		                var $td = $("<td class='TD_STYLE2'>" + dt[i]["res_id"] + "</td>");
		                var $td1 = $("<td class='TD_STYLE2'>" + dt[i]["human_name"] + "</td>");
		                var $td2 = $("<td class='TD_STYLE2'>" + dt[i]["human_sex"] + "</td>");
		                var $td3 = $("<td class='TD_STYLE2'>" + dt[i]["human_age"] + "</td>");
		                var $td4 = $("<td class='TD_STYLE2'>" + dt[i]["human_major_kind_name"] + "</td>");
		                var $td5 = $("<td class='TD_STYLE2'>" + dt[i]["human_major_name"] + "</td>");
		                var $td6 = $("<td class='TD_STYLE2'>" + dt[i]["human_college"] + "</td>");
		                var $td7 = $("<td class='TD_STYLE2'>" + dt[i]["human_educated_major"] + "</td>");
		                var $td8 = $('<td class="TD_STYLE2"><a href="/human_register/HumanIndex?res_id=' + dt[i]["res_id"] + ' ">人力登记</a></td>');
		                $tr.append($td1, $td2, $td3, $td4, $td5, $td6, $td7,$td8);
		                $("#table").append($tr);
		            }

		            rows = data["rows"];//总记录数
		            pages = data["pages"];//总页数
		            pageSize = data["pageSize"];//每页显示多少条
		            $("#leftPage").text("总数：" + rows + "例，当前第" + currentPage + "页/每页显示" + pageSize + "条      " + "共" + pages + "页");

		        }
		    });
		}

		//翻页
		$(function () {

		    $("prev").click(function () {
		        if (currentPage > 1) {
		            currentPage--;
		            haha();
		        } else {
		            alert("没有上一页");
		            return false;
		        }


		    })
		    $("#next").click(function () {

		        if (currentPage < pages) {
		            currentPage++;
		            haha();

		        } else {
		            alert("没有下一页");
		            return false;
		        }

		    })


		    $("#zhuan2").click(function () {

		        var cc = $("#currPage").val();
		        currentPage = cc;
		        haha();

		    });


		});



    </script>
</head>
<body>
    <form action="javascript:void(0)" name="fm">
        <input type="hidden" name="utilBean.currPage" id="page" />
        <table width="100%">
            <tr>
                <td>
                    <font color="black">您正在做的业务是：人力资源--人力资源档案管理--人力资源档案登记查询  </font>
                </td>
            </tr>

        </table>
        <table width="100%" border="1" cellpadding=0 cellspacing=1
               bordercolorlight=#848284 bordercolordark=#eeeeee
               class="TABLE_STYLE1" id="table">
            <tr class="TR_STYLE1">
                <td class="TD_STYLE1">
                    姓名
                </td>
                <td class="TD_STYLE1">
                    性别
                </td>
                <td class="TD_STYLE1">
                    年龄
                </td>
                <td class="TD_STYLE1">
                    职位类别
                </td>
                <td class="TD_STYLE1">
                    职位名称
                </td>
                <td class="TD_STYLE1">
                    毕业院校
                </td>
                <td class="TD_STYLE1">
                    学历专业
                </td>
                <td class="TD_STYLE1">
                    登记
                </td>
            </tr>


        </table>
        <p>
            @*&nbsp;&nbsp;总数：1 例 &nbsp;&nbsp;&nbsp;当前第1 页 /每页显示 10 条 &nbsp;&nbsp;&nbsp;共 1 页 &nbsp;&nbsp;&nbsp;
                <a href="javascript:up('0','1')">上一页</a> &nbsp;&nbsp;&nbsp;
                <a href="javascript:down('2','1')">下一页</a> &nbsp;&nbsp;&nbsp;跳到第 <input name=page type=text class=input1 id="currPage" size=1> 页&nbsp;&nbsp;<input type=image src="../../../images/go.bmp" onclick="tj('1')" width=18 height=18 border=0>*@
            <div id="leftPage"></div>
            <div id="rightPage">
                <input type="image" id="prev" value="上一页" />&nbsp;&nbsp;&nbsp;
                <input type="image" id="next" value="下一页" />&nbsp;&nbsp;&nbsp;
                跳到第<input type="text" name=page size="1" class="input1" id="currPage" />&nbsp;&nbsp;<input type="image" id="zhuan2" src="../../../images/go.bmp" onclick="tj('1')" width=18 height=18 border=0 />
            </div>
    </form>
</body>
</html>
